<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>beidcardlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>beidcommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>beiddialogsQT.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>beiddialogsmac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>beidpkcs11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>siscardplugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F872F670F84E53000DE6627</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FA1A9F60F85F36E000D9EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FA1AACA0F860EDE000D9EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FBB02520F839352009B751F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC5353A0F84B83B00BA96EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC535AB0F84B9EF00BA96EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC535DE0F84BCDA00BA96EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8683738418648918005EE5D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
