<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define var.RevisionNumber = 5698?>
  <?define var.OfficialProductVersion =1.0.0?>
  <?define var.ProductVersion =1.0.$(var.RevisionNumber)?>
  <?define var.FullProductVersion =$(var.OfficialProductVersion).$(var.RevisionNumber)?>

  <?define var.UpgradeCode ={B4FD062D-4E1E-4E39-AC19-85403A31BC54}?>
  <?define var.ProductGuid ={FBB5D096-1158-4E5E-8EA3-C73B3F30780A}?>
  <?define var.ProductName =Eid Test Infrastructure $(var.OfficialProductVersion)?>
 
  <?define var.PackageCode="*"?>

  <Product Id="{5E9BF945-C509-41fc-B56E-2B9884B64885}"
           Name="$(var.ProductName)"
           Language="1033" 
           Codepage="1252"
           Version="1.1.2"
           Manufacturer="Belgian Government"
           UpgradeCode="$(var.UpgradeCode)">

    <Package Id="*"
             InstallerVersion="300"
             Keywords="Belgium Test Infrastructure Installer"
             Platform="x86"
             Manufacturer="Belgian Government"
             Compressed="yes"
             InstallPrivileges="elevated"
    />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="0.0.0"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="yes"
                      Property="UPGRADEFOUND"
      />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
       <Directory Id="ProgramMenuFolder">
         <Directory Id="ApplicationProgramsFolder" Name="eID Test Infra">
         </Directory>
       </Directory>

       <Directory Id="ProgramFilesFolder" Name ="Program">
         <Directory Id="APPLICATIONROOTFOLDER" Name="Eid Test Infrastructure">
           <Directory Id="javalibs" Name="lib">
           </Directory>
           <Directory Id="loadlibraryproxy" Name="loadlibraryproxy">
             <Directory Id="loadlib" Name="loadlib">
             </Directory>
           </Directory>
         </Directory>
       </Directory>

      <Merge Id="VCRT" SourceFile="..\..\..\..\ThirdParty\wix\Merge Modules\Microsoft_VC80_CRT_x86.msm" Language="0" DiskId="1" />
      <Merge Id="VCRT_POLICY" SourceFile="..\..\..\..\ThirdParty\wix\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm" Language="0" DiskId="1" />

    </Directory>

    <DirectoryRef Id="APPLICATIONROOTFOLDER">
      <Component Id="eidTestInfra" Guid="{D175A6D3-AB1F-45E9-8A6D-B82DFB7A0695}">
        <File Id="ReadMe.txt" Name="ReadMe.txt" KeyPath="no"  Source="..\install\windows\ReadMe.txt"/>
        <File Id="winscard.dll" Name="winscard.dll" KeyPath="yes"  Source="..\_Binaries\Release\winscard.dll"/>
        <File Id="pcsccontrol.bat" Name="pcsccontrol.bat" KeyPath="no"  Source="..\pcsccontrol\pcsccontrol.bat"/>
        <File Id="pcsccontrol.jar" Name="pcsccontrol.jar" KeyPath="no"  Source="..\pcsccontrol\pcsccontrol.jar"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="javalibs">
      <Component Id="eidTestInfralibs" Guid="{D175A6D3-AB1F-45E9-8A6D-B82DFB7A0696}">
        <File Id="activation.jar" Name="activation.jar" KeyPath="no"  Source="..\pcsccontrol\lib\activation.jar"/>
        <File Id="jaxb_impl.jar" Name="jaxb_impl.jar" KeyPath="no"  Source="..\pcsccontrol\lib\jaxb_impl.jar"/>
        <File Id="jaxb_api.jar" Name="jaxb_api.jar" KeyPath="no"  Source="..\pcsccontrol\lib\jaxb_api.jar"/>
        <File Id="jpcsc.jar" Name="jpcsc.jar" KeyPath="no"  Source="..\pcsccontrol\lib\jpcsc.jar"/>
        <File Id="jsr173_1.0_api.jar" Name="jsr173_1.0_api.jar" KeyPath="no"  Source="..\pcsccontrol\lib\jsr173_1.0_api.jar"/>
        <File Id="log4j_1.2.8.jar" Name="log4j-1.2.8.jar" KeyPath="no"  Source="..\pcsccontrol\lib\log4j-1.2.8.jar"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="loadlibraryproxy">
      <Component Id="loadlibraryproxyComp" Guid="{B175A6D5-AB9F-63E9-8C9D-D89CCD7A9076}">
        <File Id="llreadme.txt" Name="readme.txt" KeyPath="no"  Source="..\loadlibraryproxy\readme.txt"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="loadlib">
      <Component Id="loadlibComp" Guid="{C097A6E5-AB2F-63E0-9E9D-D89DED7A7853}">
        <File Id="loadlib.cpp" Name="loadlib.cpp" KeyPath="no"  Source="..\loadlibraryproxy\loadlib\loadlib.cpp"/>
        <File Id="Makefile" Name="Makefile" KeyPath="no"  Source="..\loadlibraryproxy\loadlib\Makefile"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef  Id="ApplicationProgramsFolder">
      <Component  Id="EidInfraShortcut" Guid="{5091C763-19EA-47FF-9A7E-48269B7B11B7}">
        <Shortcut Id="EidInfraStartMenuShortcut"
                  Name="EidTestInfra-control"
                  Description="Eid Test Infra ReadMe file"
                  Target="[APPLICATIONROOTFOLDER]pcsccontrol.bat"
                  WorkingDirectory="APPLICATIONROOTFOLDER"/>
        <Shortcut Id="ReadMeShortcut"
                  Name="Eid Test Infra-ReadMe"
                  Description="Eid Test Infra ReadMe file"
                  Target="[APPLICATIONROOTFOLDER]ReadMe.txt"
                  WorkingDirectory="APPLICATIONROOTFOLDER"/>
        <RemoveFolder  Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\EidTestInfra\Install" Name="shortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Title='The Title' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='APPLICATIONROOTFOLDER'>
      <Feature Id='MainProgram' Title='eID Test Infrastructure' Description='eID Test Infrastructure client software' Level='1'>
        <ComponentRef Id='eidTestInfra' />
        <ComponentRef Id='eidTestInfralibs' />
        <ComponentRef Id='loadlibraryproxyComp' />
        <ComponentRef Id='loadlibComp' />
        <ComponentRef Id='EidInfraShortcut' />
      </Feature>
      <Feature Id="VCRedist" Title="VC++ 8.0 runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRT" />
        <MergeRef Id="VCRT_POLICY" />
      </Feature>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTFOLDER" />

    <?if $(env.OS)= Windows_NT?>
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <?endif?>

    <Property Id="JAVARUNTIME">
      <RegistrySearch Id="JavaExists" Root="HKLM" Key="Software\JavaSoft\Java Runtime Environment" Name="CurrentVersion" Type="raw" />
    </Property>
    <Condition Message="You don't have a Java runtime environment 1.5 or up. Please install it before installing this software."><![CDATA[JAVARUNTIME>="1.5"]]></Condition>

    <Media Id="1" Cabinet="Middleware.cab" EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="..\install\license.rtf" />

    <Binary Id="BeidTestCtrl" SourceFile="..\_Binaries\Release\controlfile.exe"/>   

    <CustomAction Id="BeidTestCtrlFile"
                  Impersonate="no"
                  BinaryKey="BeidTestCtrl" 
                  ExeCommand=""
                  Execute="deferred"
                  Return="asyncNoWait"
                  />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize" />
      <Custom Action="BeidTestCtrlFile" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>
