---
stages:
 - source
 - build
 - publish
 - sync
build-source:
  variables:
    GIT_STRATEGY: clone
  stage: source
  image: debian:testing
  before_script:
    - sed -i -e 's,http://,http://192.168.122.1/apt-cacher/,g' /etc/apt/sources.list
    - apt-get update
    - apt-get -y install --no-install-recommends autoconf automake libtool libpcsclite-dev libp11-kit-dev libgtk-3-dev libassuan-dev libgpg-error-dev libssl-dev libxml2-dev libcurl4-openssl-dev libproxy-dev plantuml zip gettext build-essential g++ git
  script:
    - autoreconf -f -i
    - ./configure
    - make -j $(nproc) distcheck
  artifacts:
    when:
      on_success
    paths:
      - eid-mw-*.tar.gz
      - eid-mw-*.zip
.build-deb: &build-deb
  variables:
    GIT_STRATEGY: none
  before_script:
    - sed -i -e 's,http://,http://192.168.122.1/apt-cacher/,g' /etc/apt/sources.list
    - apt-get update
    - apt-get -y --no-install-recommends install devscripts adduser fakeroot sudo equivs
    - mk-build-deps -t "apt-get -y -o Debug::pkgProblemResolver=yes --no-install-recommends" -i -r
    - adduser --disabled-password --gecos "" builduser
    - mkdir build
    - chown -R builduser:builduser .
    - cd build && sudo -u builduser tar xvf ../eid-mw-*.tar.gz --strip-components=1
  stage: build
  script:
    - sudo -u builduser dpkg-buildpackage -uc -us -i -rfakeroot
  after_script:
    - mkdir -p output
    - dcmd mv *ges output/
  image: $DIST:$CODE
  artifacts:
    paths:
      - output
    when:
      on_success
build-deb8:
  <<: *build-deb
  variables:
    DIST: debian
    CODE: jessie
    SHORT: deb8
build-deb9:
  <<: *build-deb
  variables:
    DIST: debian
    CODE: stretch
    SHORT: deb9
build-deb10:
  <<: *build-deb
  variables:
    DIST: debian
    CODE: buster
    SHORT: deb10
build-sid:
  <<: *build-deb
  variables:
    DIST: debian
    CODE: sid
    SHORT: sid
build-xenial:
  <<: *build-deb
  variables:
    DIST: ubuntu
    CODE: xenial
    SHORT: u1604
build-bionic:
  <<: *build-deb
  variables:
    DIST: ubuntu
    CODE: bionic
    SHORT: u1804
build-cosmic:
  <<: *build-deb
  variables:
    DIST: ubuntu
    CODE: cosmic
    SHORT: u1810
build-disco:
  <<: *build-deb
  variables:
    DIST: ubuntu
    CODE: disco
    SHORT: u1904
