*.log
*.m4
*.tmp
*.o
*.lo
*.la
.dirstamp
.libs
.deps
Makefile
Makefile.in
VS_2005
VS_2010
autom4te.cache
build-aux
build_*
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
lib
bin
cardcomm/pkcs11/src/common/beidversions.h
*.xccheckout
xcuserdata
.DS_Store
