*.log
*.m4
*.tmp
*.o
*.lo
*.la
.dirstamp
.libs
.deps
Makefile
Makefile.in
VS_2005
VS_2010
VS_2012
autom4te.cache
build_*
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
lib
bin
cardcomm/pkcs11/src/common/beidversions.h
*.xccheckout
xcuserdata
.DS_Store
*.gmo
*.po~
*.mo
en@boldquot.po
en@quot.po
stamp-po
release
Debug
Win32_Release
Win32_Debug
x64_Debug
x64_Release
/VS_2015/beid.sdf
/VS_2015/beid.v11.suo
/installers/quickinstaller/*.exe
/scripts/windows/*.exe
/scripts/windows/*.msi
/installers/eid-mw/Windows/obj/*.wixobj
beidpkcs11.sdf
*.suo
/scripts/windows/beidversions.h
/scripts/windows/eidmw_revision.wxs
/scripts/windows/eidversion.txt
*.sdf
/installers/quickinstaller/eidmw_version.nsh
/cardcomm/VS_2015/Binaries
/cardcomm/pkcs11/VS_2015/Win32_PKCS11_FF_Release
/cardcomm/pkcs11/VS_2015/x64_PKCS11_FF_Release
*~
.version
/plugins_tools/eid-viewer/Windows/eIDViewer/Properties/AssemblyInfo.cs
/scripts/windows/fedicteidtest.cer
/scripts/windows/fedicteidtest.pfx
/installers/eid-mw/mac/release_BEIDToken
/installers/eid-mw/mac/release_TokenD
/cardcomm/minidriver/VS_2017/beidmdrv.vcxproj.user
/VS_2017/.vs/beid/v15
/.vs
/cardcomm/pkcs11/VS_2017/Binaries
/cardcomm/pkcs11/VS_2017/beidpkcs11.vcxproj.user
/cardcomm/pkcs11/VS_2017/Win32_PKCS11_FF_Release
/cardcomm/pkcs11/VS_2017/x64_PKCS11_FF_Release
/installers/quickinstaller/Drivers/WINALL/beidmdrv
/installers/eid-mw/Windows/2067
/installers/eid-mw/Windows/2060
/installers/eid-mw/Windows/1031
/plugins_tools/eid-viewer/Windows/eIDViewer/Resources/Certs
/plugins_tools/eid-viewer/Windows/eIDViewer/Resources/Images
