---
stages:
 - source
 - build
 - publish
 - sync
build-source:
  stage: source
  image: debian:testing
  before_script:
    - sed -i -e 's,http://,http://192.168.122.1/apt-cacher/,g' /etc/apt/sources.list
    - apt-get update
    - apt-get -y install autoconf automake libtool libpcsclite-dev libp11-kit-dev libgtk-3-dev libassuan-dev libgpg-error-dev libssl-dev libxml2-dev libcurl4-openssl-dev libproxy-dev plantuml zip gettext build-essential g++
  script:
    - autoreconf -f -i
    - ./configure
    - make -j $(nproc) distcheck
  artifacts:
    when:
      on_success
    paths:
      - eid-mw-*.tar.gz
      - eid-mw-*.zip
.build-deb: &build-deb
  before_script:
    - sed -i -e 's,http://,http://192.168.122.1/apt-cacher/,g' /etc/apt/sources.list
    - apt-get update
    - apt-get -y install devscripts adduser fakeroot sudo
    - mk-build-deps -t "apt-get -y -o Debug::pkgProblemResolver=yes --no-install-recommends" -i -r
    - adduser --disabled-password --gecos "" builduser
    - mkdir build
    - chown -R builduser:builduser .
    - cd build && sudo -u builduser tar xvf ../eid-mw-*.tar.gz --strip-components=1
  stage: build
  script:
    - sudo -u builduser dpkg-buildpackage -uc -us -i -rfakeroot
  after_script:
    - mkdir ../output
    - dcmd mv *ges ../output/
  artifacts:
    paths:
      - output
    when:
      on_success
build-deb9:
  <<: *build-deb
  image: debian:stretch
