*.log
*.m4
*.tmp
*.o
*.lo
*.la
.dirstamp
.libs
.deps
Makefile
Makefile.in
VS_2005
VS_2010
VS_2012
autom4te.cache
build-aux
build_*
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
lib
bin
cardcomm/pkcs11/src/common/beidversions.h
*.xccheckout
xcuserdata
.DS_Store
*.gmo
*.po~
*.mo
en@boldquot.po
en@quot.po
stamp-po
release
Debug
Win32_Release
Win32_Debug
x64_Debug
x64_Release
/VS_2015/beid.sdf
/VS_2015/beid.v11.suo
