Name:           eid-mw
Version:        4.0.0
Release:        _SVN_REVISION_%{?dist}
Summary:        Belgium Electronic Identity Card PKCS#11 Module and Firefox Plugin

Group:          Applications/Communications
License:        LGPL
URL:            http://eid.belgium.be/
Source0:        http://eidmw.yourict.net/dist/sources/%{name}-%{version}-_SVN_REVISION_.tar.gz
BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)

BuildRequires: pcsc-lite-devel gtk2-devel
Requires: pcsc-lite gtk2 ccid

%description
Belgium Electronic Identity Card PKCS#11 Module and Firefox Plugin
Install if you want to access websites and/or sign documents using Belgian e-ID cards

%prep
%setup -q


%build
%configure
make %{?_smp_mflags}


%install
rm -rf $RPM_BUILD_ROOT
make install DESTDIR=$RPM_BUILD_ROOT


%clean
rm -rf $RPM_BUILD_ROOT


%post
if [ -S /var/run/pcscd.comm ]; then
        /etc/init.d/pcscd restart 
else
        /etc/init.d/pcscd start
fi
if [ -f /var/lock/subsys/openct ]; then
	echo
	echo "************************************************ WARNING **********************************************************"
	echo "OpenCT is running but the eID Middleware requires pcsc-lite instead, and both cannot work at the same time."
	echo "Your will probably have problems accessing your card reader."
	echo "Please stop OpenCT (/etc/init.d/openct stop) and restart pcsc-lite (/etc/init.d/pcscd restart) before using eid-mw."
	echo "*******************************************************************************************************************"
	echo
fi


%files
%defattr(-,root,root,-)
%{_libdir}/*
%{_datadir}/*
%doc



%changelog
