<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include svn_revision.wxs ?>

  <?define var.OfficialProductVersion =4.1.0?>
  <?define var.ProductVersion =4.1.$(var.RevisionNumber)?>
  <?define var.FullProductVersion =$(var.OfficialProductVersion).$(var.RevisionNumber)?>

  <?define var.UpgradeCode ={41D2DFA4-7754-465C-9379-55CDBADE082D}?>
  <?define var.ProductGuid ={824563DE-75AD-4166-9DC0-B6482F20$(var.RevisionNumber)}?>
  <?define var.ProductGuidGeneric ={824563DE-75AD-4166-9DC0-B6482F2?????}?>
  <!--<?define var.ProductGuid ={824563DE-75AD-4166-9DC0-B6482F2DED5A})?>-->
  <?define var.ProductName =Belgium e-ID middleware $(var.OfficialProductVersion) (build $(var.RevisionNumber))?>

  <?define var.PackageCode="*"?>

  <Product Id="$(var.ProductGuid)"
           Name="$(var.ProductName)"
           Language="!(loc.Lang)"
           Codepage="1252"
           Version="$(var.ProductVersion)"
           Manufacturer="Belgian Government"
           UpgradeCode="$(var.UpgradeCode)">

    <!-- InstallerVersion="300" Released with Windows XP with Service Pack 2 (SP2) -->
    <Package Id="$(var.PackageCode)"
             InstallerVersion="300"
             Keywords="Belgium e-ID Middleware Installer"
             Platform="x64"
             Manufacturer="Belgian Government"
             Compressed="yes"
             InstallPrivileges="elevated"
    />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Property="NEWPRODUCTFOUND"
      />
      <UpgradeVersion Minimum="3.5.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Property="UPGRADEFOUND"
      />
    </Upgrade>

    <?if $(var.Lang) = "nl"?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\misc\licenses_files\Dutch\License_nl.rtf" />
    <?elseif $(var.Lang) = "fr"?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\misc\licenses_files\French\License_fr.rtf" />
    <?elseif $(var.Lang) = "de"?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\misc\licenses_files\German\License_de.rtf" />
    <?else?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\misc\licenses_files\English\License_en.rtf" />
    <?endif?>

    <WixVariable Id="WixUIBannerBmp" Value="..\..\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="..\..\dlgbmp.bmp" />

    <Condition Message="!(loc.MinOs)">
      <![CDATA[
      Installed
      OR ((VersionNT = 500) and (ServicePackLevel > 3))
      OR ((VersionNT = 501) and (ServicePackLevel > 1))
      OR (VersionNT > 501)
      ]]>
    </Condition>

    <Media Id="1" Cabinet="Middleware.cab" EmbedCab="yes" />

    <Icon Id="eid.ico" SourceFile="..\..\eid.ico"/>

    <Property Id="PROPOFFICE2010SIGNREG_64">
      <RegistrySearch Id="PropOffice2010SignaturesRegistered_64"
                      Root="HKCU"
                      Key="SOFTWARE\Microsoft\Office\14.0\Common\Signatures"
                      Name="TSALocation"
                      Type="raw" />
    </Property>
    <Property Id="PROPOFFICE2010SIGNREG_32">
      <RegistrySearch Id="PropOffice2010SignaturesRegistered_32"
                      Root="HKCU"
                      Key="SOFTWARE\Wow6432Node\Microsoft\Office\14.0\Common\Signatures"
                      Name="TSALocation"
                      Type="raw" />
    </Property>

    <Property Id="ARPPRODUCTICON" Value="eid.ico" />
    <Property Id="ARPURLINFOABOUT" Value="http://eid.belgium.be"/>

    <Property Id="ALLUSERS" Value="1" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Menu">
        <Directory Id="ApplicationProgramsFolder" Name="Belgium - eID">
          <Directory Id="ApplicationProgramsFolderUtilities" Name="Utilities"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTFOLDER" Name="Belgium Identity Card">
          <Directory Id="MINIDRIVERROOTFOLDER" Name="BeID Minidriver"/>
          <Directory Id="BEIDVIEWERDIR" Name="EidViewer" />
          <Directory Id="LOGDIR" Name="log"/>
        </Directory>
        <Directory Id="FIREFOXROOTFOLDER" Name="Mozilla Firefox">
          <Directory Id="FIREFOXEXTENSIONS" Name="extensions">
            <Directory Id="XPIROOTFOLDER" Name="belgiumeid@eid.belgium.be">
              <Directory Id="XPICONTENTFOLDER" Name="content"/>
              <Directory Id="XPICOMPONENTSFOLDER" Name="components"/>
              <Directory Id="XPIDEFAULTSFOLDER" Name="defaults">
                <Directory Id="XPIDEFAULTSPREFSFOLDER" Name="preferences"/>
              </Directory>
              <Directory Id="XPILOCALEFOLDER" Name="locale">
                <Directory Id="XPILOCALEENFOLDER" Name="en-US"/>
                <Directory Id="XPILOCALEFRFOLDER" Name="fr-FR"/>
                <Directory Id="XPILOCALENLFOLDER" Name="nl-NL"/>
                <Directory Id="XPILOCALEDEFOLDER" Name="de-DE"/>
              </Directory>
              <Directory Id="XPISKINFOLDER" Name="skin"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
        <Directory Id="LOGDIR_64" Name="log"/>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder"/>

      <Directory Id="WindowsFolder" Name="WindowsFolder"/>
      <Directory Id="SystemFolder" Name="SystemFolder">
        <Directory Id="BEIDPPDIR" Name="beidpp"/>
      </Directory>
      <Directory Id="System64Folder"/>
    </Directory>

    <DirectoryRef Id="BEIDVIEWERDIR">
      <Component Id="BEIDVIEWER" Guid="{67B78F6B-C6D5-4616-88B9-0BE8A46E01F7}" Win64="no">
        <File Id="eidviewer.exe" Name="eID Viewer.exe" KeyPath="yes" Source="..\..\..\..\ThirdParty\eid-viewer\eid-viewer.exe" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LOGDIR">
      <Component Id="LogDir" Guid="{A300DA04-F8DF-4506-B654-1E5EB2782DF3}" KeyPath="yes" Win64="no">
        <CreateFolder>
          <util:PermissionEx GenericAll="yes" User="Users" />
        </CreateFolder>
        <RemoveFile Id="RemoveLogFiles" On="uninstall" Name="*"/>
        <RemoveFolder Id="RemoveLogFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LOGDIR_64">
      <Component Id="LogDir_64" Guid="{8d2d7f7c-64d5-43d4-905f-b52c1cf7411c}" KeyPath="yes" Win64="yes">
        <CreateFolder>
          <util:PermissionEx GenericAll="yes" User="Users" />
        </CreateFolder>
        <RemoveFile Id="RemoveLogFiles64" On="uninstall" Name="*"/>
        <RemoveFolder Id="RemoveLogFolder64" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FIREFOXEXTENSIONS">
      <Component Id="Extensions" Guid="{DBEFB6AD-3282-4625-8257-2CF7EA4E7264}" Win64="no">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FIREFOXROOTFOLDER">
      <Component Id="FireFoxRoot" Guid="{3F6140E7-B25A-41c5-BACE-9DBCDE8019D9}" KeyPath="no" Win64="no">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPIROOTFOLDER">
      <Component Id="XPIRoot" Guid="{6E56CA5C-29ED-47e0-9EEF-64FDF8A0B353}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="chrome.manifest" Name="chrome.manifest" KeyPath="no" Source="..\..\..\xpi\src\chrome.manifest" />
        <File Id="icon.png.root" Name="icon.png" KeyPath="no" Source="..\..\..\xpi\src\icon.png" />
        <File Id="install.rdf" Name="install.rdf" KeyPath="no" Source="..\..\..\xpi\src\install.rdf" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPICONTENTFOLDER">
      <Component Id="XPIContent" Guid="{DC052180-264F-4ace-ACF1-FC482715EB86}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="belgiumeidpkcs11.js" Name="belgiumeidpkcs11.js" KeyPath="no" Source="..\..\..\xpi\src\content\belgiumeidpkcs11.js" />
        <File Id="belgiumeidpkcs11.xul" Name="belgiumeidpkcs11.xul" KeyPath="no" Source="..\..\..\xpi\src\content\belgiumeidpkcs11.xul" />
        <File Id="belgiumeidprompt.js" Name="belgiumeidprompt.js" KeyPath="no" Source="..\..\..\xpi\src\content\belgiumeidprompt.js" />
        <File Id="belgiumeidprompt.xul" Name="belgiumeidprompt.xul" KeyPath="no" Source="..\..\..\xpi\src\content\belgiumeidprompt.xul" />
        <File Id="belgiumeidpromptsecure.js" Name="belgiumeidpromptsecure.js" KeyPath="no" Source="..\..\..\xpi\src\content\belgiumeidpromptsecure.js" />
        <File Id="belgiumeidpromptsecure.xul" Name="belgiumeidpromptsecure.xul" KeyPath="no" Source="..\..\..\xpi\src\content\belgiumeidpromptsecure.xul" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPICOMPONENTSFOLDER">
      <Component Id="XPIComponents" Guid="{2761C1B0-4EA2-4047-8A31-32679BB4651D}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="comp_belgiumeidpkcs11.js" Name="belgiumeidpkcs11.js" KeyPath="no" Source="..\..\..\xpi\src\components\belgiumeidpkcs11.js" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPIDEFAULTSFOLDER">
      <Component Id="XPIdefaults" Guid="{B635FD45-0FCE-4285-9FA6-F9559C0F7EBB}" KeyPath="no" Win64="no">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPIDEFAULTSPREFSFOLDER">
      <Component Id="XPIdefaultsprefs" Guid="{FA937E34-AE32-4acd-AC77-3487EBC2ABCD}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="belgiumeid.js" Name="belgiumeid.js" KeyPath="no" Source="..\..\..\xpi\src\defaults\preferences\belgiumeid.js" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPILOCALEFOLDER">
      <Component Id="XPIlocale" Guid="{B8A44A30-F2EF-44c3-BBE5-54395F47C869}" KeyPath="no" Win64="no">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPILOCALEENFOLDER">
      <Component Id="XPIlocaleen" Guid="{F2BBAA41-E463-409d-B4AB-CE3626339663}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="belgiumeid.properties.en" Name="belgiumeid.properties" KeyPath="no" Source="..\..\..\xpi\src\locale\en-US\belgiumeid.properties" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPILOCALEFRFOLDER">
      <Component Id="XPIlocalefr" Guid="{C0F969BB-3678-4828-BAE7-023054072A01}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="belgiumeid.properties.fr" Name="belgiumeid.properties" KeyPath="no" Source="..\..\..\xpi\src\locale\fr-FR\belgiumeid.properties" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPILOCALENLFOLDER">
      <Component Id="XPIlocalenl" Guid="{E8587941-7B32-4a9d-8F4B-23C1E8EC1126}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="belgiumeid.properties.nl" Name="belgiumeid.properties" KeyPath="no" Source="..\..\..\xpi\src\locale\nl-NL\belgiumeid.properties" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPILOCALEDEFOLDER">
      <Component Id="XPIlocalede" Guid="{54BC660D-7C9D-4ddc-AA96-29D7A5DD0E53}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="belgiumeid.properties.de" Name="belgiumeid.properties" KeyPath="no" Source="..\..\..\xpi\src\locale\de-DE\belgiumeid.properties" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="XPISKINFOLDER">
      <Component Id="XPIskin" Guid="{7FF22F5F-E42E-47af-91EE-9A9491B196AC}" KeyPath="no" Win64="no">
        <CreateFolder />
        <File Id="overlay.css" Name="overlay.css" KeyPath="no" Source="..\..\..\xpi\src\skin\overlay.css" />
        <File Id="icon.png" Name="icon.png" KeyPath="no" Source="..\..\..\xpi\src\skin\icon.png" />
        <File Id="icon40x40.png" Name="icon40x40.png" KeyPath="no" Source="..\..\..\xpi\src\skin\icon40x40.png" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MINIDRIVERROOTFOLDER">
      <Component Id="beidmdrv" Guid="2bdf2bb0-4f7a-4ed6-a3d4-abcbe212fa14" Win64="no">
        <File Id="beidmdrv.inf" Name="beidmdrv.inf" Source="..\..\..\minidriver\makemsi\Release\beidmdrv.inf" KeyPath="yes" DiskId="1" />
        <File Id="beidmdrv.cat" Name="beidmdrv.cat" Source="..\..\..\minidriver\makemsi\Release\beidmdrv.cat" KeyPath="no" DiskId="1" />
        <File Id="beidmdrv32.dll" Name="beidmdrv32.dll" Source="..\..\..\minidriver\makemsi\Release\beidmdrv32.dll" KeyPath="no" DiskId="1" />
        <File Id="beidmdrv64.dll" Name="beidmdrv64.dll" Source="..\..\..\minidriver\makemsi\Release\beidmdrv64.dll" KeyPath="no" DiskId="1" />
        <difx:Driver ForceInstall="no" PlugAndPlayPrompt="no" DeleteFiles="yes" />
      </Component>
      <!-- Certificate Propagation Service is a standard Windows service available in from Windows Vista on. In order to use the minidriver
			   it is necessary that this service is running. When a smart card reader is inserted this service should be started  by the smart card
			   driver. As not all drivers are following this guidance, we start CertPropSvc during the minidriver install -->
      <Component Id="CertPropService" Guid="932459d0-df59-11de-8a39-0800200c9a66" Permanent="yes" Win64="no">
        <!-- Start Certificate Propagation Service during startup -->
        <RegistryValue Root="HKLM" Key="System\CurrentControlSet\Services\CertPropSvc" Type="integer" Name="Start" Value="2" KeyPath="yes"/>
        <!-- Start Certificate Propagation Service now -->
        <!--<ServiceControl Id="StartCertPropSvc" Name="CertPropSvc" Start="install" />-->
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTFOLDER">

      <Component Id="Icon" Guid="{5B657BAD-8CFC-4E42-AF8C-13338C50D784}" SharedDllRefCount="yes" Win64="no">
        <File Id="eid.ico" Name="eid.ico" KeyPath="yes" Source="..\..\eid.ico" />
      </Component>

      <Component Id="OutlookTool" Guid="{F36A543C-CB17-4D91-BF0C-2EAEFEC3CB3A}" Win64="no">
        <File Id="beidoutlooksnc.exe" Name="beidoutlooksnc.exe" KeyPath="yes" Source="..\..\..\Outlook_snc\beidoutlooksnc.exe" />
      </Component>

      <Component Id="Office2010XAdESTool" Guid="{B42CF78B-952A-4768-8605-2E6F3BBA340B}" Win64="no">
        <File Id="beidoffice2010_XAdES_XL.exe" Name="beidoffice2010_XAdES_XL.exe" KeyPath="yes" Source="..\..\..\Office2010_XAdES_XL\beidoffice2010_XAdES_XL.exe" />
      </Component>

      <Component Id="License" Guid="{C00AF621-E882-4805-BA9C-B90AA5DBBCB6}" SharedDllRefCount="no" Win64="no">
        <File Id="License_en.rtf" Name="License_en.rtf" KeyPath="yes" Source="..\..\..\misc\licenses_files\English\License_en.rtf" />
        <File Id="License_nl.rtf" Name="License_nl.rtf" KeyPath="no" Source="..\..\..\misc\licenses_files\Dutch\License_nl.rtf" />
        <File Id="License_fr.rtf" Name="License_fr.rtf" KeyPath="no" Source="..\..\..\misc\licenses_files\French\License_fr.rtf" />
        <File Id="License_de.rtf" Name="License_de.rtf" KeyPath="no" Source="..\..\..\misc\licenses_files\German\License_de.rtf" />
      </Component>

    </DirectoryRef>


    <DirectoryRef Id="WindowsFolder">
    </DirectoryRef>

    <DirectoryRef Id="System64Folder">

      <Component Id="pkcs11_64" Guid="{3C4751D6-D92C-40ab-8FA5-3A1DF1D927EA}" SharedDllRefCount="no" Win64="yes">
        <File Id="beidpkcs11_64.dll" Name="beidpkcs11.dll" KeyPath="yes" Source="..\..\..\vs_2010\binaries\x64_Release\beidpkcs11.dll" />
        <File Id="beid_ff_pkcs11_64.dll" Name="beid_ff_pkcs11.dll" KeyPath="no" Source="..\..\..\vs_2010\binaries\x64_pkcs11_ff_release\beid_ff_pkcs11.dll" />
      </Component>

      <Component Id="MINIDRIVER_64" Guid="{a8259480-e408-11de-8a39-0800200c9a66}" SharedDllRefCount="no" Win64="yes">
        <File Id="MINIDRIVER_64.dll" Name="beidmdrv64.dll" KeyPath="yes" Source="..\..\..\vs_2010\binaries\x64_release\beidmdrv64.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="SystemFolder">

      <Component Id="MINIDRIVER" Guid="{2A6887B1-A020-47e7-847A-F68673A12CE2}" SharedDllRefCount="yes" Win64="no">
        <File Id="MINIDRIVER.dll" Name="beidmdrv32.dll" KeyPath="yes" Source="..\..\..\vs_2010\binaries\win32_release\beidmdrv.dll" />
      </Component>

      <Component Id="CSP" Guid="{54153442-D4CE-4DE6-9321-1BAC5DE4C725}" SharedDllRefCount="yes" Win64="no">
        <File Id="beidCSP.dll" Name="beidCSP.dll" KeyPath="yes" Source="..\..\..\vs_2010\binaries\win32_release\beidCSP.dll" />
        <File Id="beidCSPlib.dll" Name="beidCSPlib.dll" KeyPath="no" Source="..\..\..\vs_2010\binaries\win32_release\beidCSPlib.dll" />
      </Component>

      <Component Id="pkcs11" Guid="{D54164C0-795D-4B2D-96C6-C8E395100896}" SharedDllRefCount="yes" Win64="no">
        <File Id="beidpkcs11.dll" Name="beidpkcs11.dll" KeyPath="yes" Source="..\..\..\vs_2010\binaries\win32_release\beidpkcs11.dll" />
        <File Id="beid_ff_pkcs11.dll" Name="beid_ff_pkcs11.dll" KeyPath="no" Source="..\..\..\vs_2010\binaries\Win32_PKCS11_FF_Release\beid_ff_pkcs11.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="BEIDPPDIR">
      <Component Id="PinpadLib" Guid="{9ADA6D75-5DCC-467E-A0CE-B84A482B2115}" SharedDllRefCount="yes" Win64="no">
        <!--File Id="ch44xxeid.dll" Name="ch44xxeid.dll" Source="..\..\..\pinpad\ch44xxeid.dll" /-->
        <!--File Id="sprx32eid.dll" Name="sprx32eid.dll" Source="..\..\..\pinpad\sprx32eid.dll" /-->
        <File Id="xireid.dll" Name="xireid.dll" Source="..\..\..\beidpp\xireid.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="SCardSvrService" Guid="{C3BC9746-0843-41b2-BDDA-3192772974CE}" Permanent="yes" Win64="no">
        <!-- Start SCardSvr Service during startup -->
        <RegistryValue Root="HKLM" Key="System\CurrentControlSet\Services\SCardSvr" Type="integer" Name="Start" Value="2" KeyPath="yes"/>
        <!-- Start SCardSvr Service now -->
        <!-- <ServiceControl Id="StartSCardSvrService" Name="SCardSvr" Start="install" /> -->
      </Component>

      <Component Permanent="yes" Id="REGISTERXADESSETTINGSOFFICE2010" Guid="{DBD8E310-00D3-402f-A2F2-1984DD825C4D}" Win64="no">
        <RegistryKey Root="HKCU"
                     Key="Software\Microsoft\Office\14.0\Common\Signatures"
                     Action="create" >
          <RegistryValue Type="string" Name="TSALocation" Value="http://tsa.belgium.be/connect" KeyPath="yes"/>
          <RegistryValue Type="integer" Name="XAdESLevel" Value="5" KeyPath="no"/>
          <RegistryValue Type="integer" Name="MinXAdESLevel" Value="0" KeyPath="no"/>
        </RegistryKey>
      </Component>
      
      <Component Permanent="yes" Id="REGISTERXADESSETTINGSOFFICE2010_64" Guid="{BF57853B-C3CF-4126-A71B-6DD6EE8E44B8}" Win64="yes">
        <RegistryKey Root="HKCU"
                     Key="Software\Microsoft\Office\14.0\Common\Signatures"
                     Action="create" >
          <RegistryValue Type="string" Name="TSALocation" Value="http://tsa.belgium.be/connect" KeyPath="yes"/>
          <RegistryValue Type="integer" Name="XAdESLevel" Value="5" KeyPath="no"/>
          <RegistryValue Type="integer" Name="MinXAdESLevel" Value="0" KeyPath="no"/>
        </RegistryKey>
      </Component>

      <Component Id="REGISTERXPI" Guid="{946B85B6-99CC-4893-8A42-E7EC6FFE0D87}" Win64="no">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Mozilla\Firefox\Extensions"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="belgiumeid@eid.belgium.be" Value="C:\Program Files\Mozilla Firefox\extensions\belgiumeid@eid.belgium.be" KeyPath="yes"/>
        </RegistryKey>
      </Component>

      <Component Id="REGISTERMINIDRIVER" Guid="{B9980C19-883E-49f9-BDD2-AB3D75187C8F}" Win64="no">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\Cryptography\Calais\SmartCards\Beid"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="80000001" Value="beidmdrv32.dll" KeyPath="yes"/>
          <RegistryValue Type="binary" Name="ATR" Value="3b98004000a503010101ad1300" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATRMask" Value="ffff00ff00ffffffffffffff00" KeyPath="no"/>
          <RegistryValue Type="string" Name="Crypto Provider" Value="Microsoft Base Smart Card Crypto Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="Smart Card Key Storage Provider" Value="Microsoft Smart Card Key Storage Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000100" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000103" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
        </RegistryKey>
      </Component>

      <Component Id="REGISTERMINIDRIVER_64" Guid="{3BCA1B2C-08AF-4727-AD85-1C60025656EA}" Win64="yes">
        <RegistryKey Root="HKLM"
          Key="SOFTWARE\Microsoft\Cryptography\Calais\SmartCards\Beid"
          Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="80000001" Value="beidmdrv64.dll" KeyPath="yes"/>
          <RegistryValue Type="binary" Name="ATR" Value="3b98004000a503010101ad1300" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATRMask" Value="ffff00ff00ffffffffffffff00" KeyPath="no"/>
          <RegistryValue Type="string" Name="Crypto Provider" Value="Microsoft Base Smart Card Crypto Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="Smart Card Key Storage Provider" Value="Microsoft Smart Card Key Storage Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000100" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000103" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
        </RegistryKey>
      </Component>

      <Component Id="REGISTERCSP" Guid="{3DF6D19A-C268-4D97-B605-1F3E29DC15DC}" Win64="no">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Wow6432Node\Microsoft\Cryptography\Defaults\Provider\Belgium Identity Card CSP"
                      Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="Image Path" Value="beidcsp.dll" KeyPath="yes"/>
          <RegistryValue Type="integer" Name="Type" Value="1" />
          <RegistryValue
            Type="binary"
            Name="Signature"
            Value="4ca7da22f79d4c8db3acaaf626b757929ff28cd2d205615323885f542f38d9ddfccd1b74d2ccbd99ad0a0a530e22b91dda3f3967ff7846f43a4fa263b41fbdb35976c68d64c3ff931036e009f3d3090d9afdbe8a9f942d1adc8791d5522644d1842bb802907737baa4b318a21554ecc3b25db0f42d7f5cdd3f58269703ffed300000000000000000" />
        </RegistryKey>
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Wow6432Node\Microsoft\Cryptography\Calais\SmartCards\Belgium Identity Card"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="Crypto Provider" Value="Belgium Identity Card CSP"/>
          <RegistryValue Type="string" Name="80000001" Value="beidcsp.dll" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATR" Value="3b98004000a503010101ad1300" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATRMask" Value="ffff00ff00ffffffffffffff00" KeyPath="no"/>
        </RegistryKey>
      </Component>

      <Component Id="RegistryBeidSystem" Guid="{414DF15C-6CE6-4181-95B4-D83F16903BA3}" Win64="no">
        <RegistryKey Root="HKLM"
            Key="SOFTWARE\BEID"
            Action="createAndRemoveOnUninstall">
          <RegistryKey Key="certificatevalidation" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="integer" Name="cert_validation_ocsp" Value="0"/>
            <RegistryValue Type="integer" Name="cert_validation_crl" Value="0"/>
          </RegistryKey>

          <RegistryKey Key="general" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="language" Value="!(loc.Langpref)"/>
            <RegistryValue Type="string" Name="install_dirname" Value="[ProgramFilesFolder]Belgium Identity Card"/>
          </RegistryKey>

          <RegistryKey Key="logging" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="log_dirname" Value="[ProgramFilesFolder]Belgium Identity Card\log"/>
          </RegistryKey>

        </RegistryKey>


      </Component>

    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="RemoveGui35Shortcuts" Guid="{93B9A186-E198-4a67-8AB1-6041D59BBE7F}">
        <RemoveFile Id="RemoveBeidGuiStartMenuShortcut" Name="eID-Viewer.lnk" On="both"/>
        <RemoveFile Id="RemoveEidViewerShortcut" Name="eID-Viewer.lnk" Directory="DesktopFolder" On="both"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\BEID\Installer" Name="eid-viewer" Type="integer" Value="0" KeyPath="yes" />
      </Component>
      <Component Id="eidviewerShortcut" Guid="{54536294-6A10-497b-BE12-A9C8B5D1E0D3}" Win64="no">
        <Shortcut Id="eidviewerStartMenuShortcut"
          Name="eID Viewer"
          Description="!(loc.BeidGuiDescr)"
          Target="[BEIDVIEWERDIR]eID Viewer.exe"
          WorkingDirectory="BEIDVIEWERDIR"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\BEID\Installer" Name="eid-viewer" Type="integer" Value="1" KeyPath="yes" />
        <Shortcut Id="EidViewerDesktopShortcut"
                      Name="eID Viewer"
                      Directory="DesktopFolder"
                      Description="!(loc.BeidGuiDescr)"
                      Target="[BEIDVIEWERDIR]eID Viewer.exe"
                      WorkingDirectory="BEIDVIEWERDIR"/>
      </Component>
      <Component Id="BeidApplicationProgramsFolder" Guid="{CBD0F388-EAE5-4FA1-8C38-EC223928FF13}" Win64="no">
        <!--<Shortcut Id="BeidGuiStartMenuShortcut"
                  Name="eID-Viewer"
                  Description="!(loc.BeidGuiDescr)"
                  Target="[APPLICATIONROOTFOLDER]beid35gui.exe"
                  WorkingDirectory="APPLICATIONROOTFOLDER"/>
        <Shortcut Id="EidViewerShortcut"
                  Name="eID-Viewer"
                  Directory="DesktopFolder"
                  Description="!(loc.BeidGuiDescr)"
                  Target="[APPLICATIONROOTFOLDER]beid35gui.exe"
                  WorkingDirectory="APPLICATIONROOTFOLDER"/>-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\BEID\Installer" Name="BeidApplicationProgramsFolder" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolderUtilities">
      <Component Id="OutlookShortcut" Guid="{813C0984-0401-4604-9D7F-E13BDD28FBD7}" Win64="no">
        <Shortcut Id="OutlookStartMenuShortcut"
          Name="MS Outlook registry configuration"
          Description="!(loc.OutlooksncDescr)"
          Target="[APPLICATIONROOTFOLDER]beidoutlooksnc.exe"
          WorkingDirectory="APPLICATIONROOTFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolderUtilities" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\BEID\Installer" Name="OutlookShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="Office2010XAdESShortcut" Guid="{B2D00383-20A7-4058-A153-80D4DC15FD42}" Win64="no">
        <Shortcut Id="Office2010XAdESStartMenuShortcut"
          Name="MS Office 2010 XAdES XL signature configuration"
          Description="!(loc.Office2010XAdESDescr)"
          Target="[APPLICATIONROOTFOLDER]beidoffice2010_XAdES_XL.exe"
          WorkingDirectory="APPLICATIONROOTFOLDER"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\BEID\Installer" Name="Office2010XAdESShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="BeidRuntime"
             Title="!(loc.BeidRuntime)"
             Description="!(loc.BeidRuntimeDesc)"
             Absent="disallow"
             Level="1"
             >

      <!-- Program Files -->
      <ComponentRef Id="Icon" />
      <ComponentRef Id="License"/>
      <ComponentRef Id="LogDir"/>
      <ComponentRef Id="LogDir_64"/>
      <ComponentRef Id="Extensions"/>
      <ComponentRef Id="FireFoxRoot"/>
      <ComponentRef Id="XPIRoot"/>
      <ComponentRef Id="XPIContent"/>
      <ComponentRef Id="XPIComponents"/>
      <ComponentRef Id="XPIdefaults"/>
      <ComponentRef Id="XPIdefaultsprefs"/>
      <ComponentRef Id="XPIlocale"/>
      <ComponentRef Id="XPIlocaleen"/>
      <ComponentRef Id="XPIlocalefr"/>
      <ComponentRef Id="XPIlocalenl"/>
      <ComponentRef Id="XPIlocalede"/>
      <ComponentRef Id="XPIskin"/>

      <!-- Beid pinpad dir-->
      <ComponentRef Id="PinpadLib"/>

      <!-- Windows -->

      <!-- Registry -->
      <ComponentRef Id="RegistryBeidSystem"/>

      <Feature Id="BeidGuiInstall"
                 Title="!(loc.BeidGui)"
                 Description="!(loc.BeidGuiDescr)"
                 Absent="disallow"
                 Level="1"
             >

        <!-- Program Files -->
        <ComponentRef Id="BEIDVIEWER"/>
        <ComponentRef Id="eidviewerShortcut"/>
        <ComponentRef Id="RemoveGui35Shortcuts"/>
      </Feature>

      <Feature Id="Crypto"
                  Title="!(loc.Crypto)"
                  Description="!(loc.CryptoDescr)"
                  Level="1"
                >
        <ComponentRef Id="SCardSvrService"/>
        <ComponentRef Id="pkcs11"/>
        <ComponentRef Id="pkcs11_64"/>
        <ComponentRef Id="REGISTERXPI"/>

        <Feature Id="Office2010Signatureregistration_32" Level="1" Display="hidden" Absent="disallow">
          <ComponentRef Id="REGISTERXADESSETTINGSOFFICE2010"/>
          <Condition Level="0"><![CDATA[PROPOFFICE2010SIGNREG_32]]></Condition>
        </Feature>

		<Feature Id="Office2010Signatureregistration_64" Level="1" Display="hidden" Absent="disallow">
          <ComponentRef Id="REGISTERXADESSETTINGSOFFICE2010_64"/>
          <Condition Level="0"><![CDATA[PROPOFFICE2010SIGNREG_64]]></Condition>
        </Feature>
	
        <ComponentRef Id="BeidApplicationProgramsFolder" />
        <ComponentRef Id="OutlookTool" />
        <ComponentRef Id="Office2010XAdESTool"/>
        <!-- Shortcuts -->
        <ComponentRef Id ="OutlookShortcut"/>
        <ComponentRef Id="Office2010XAdESShortcut"/>
        <Feature Id="Install_Minidriver" Level="0" Display="hidden" Absent="disallow">
          <ComponentRef Id="beidmdrv"/>
          <ComponentRef Id="CertPropService"/>
          <ComponentRef Id="MINIDRIVER"/>
          <ComponentRef Id="MINIDRIVER_64"/>
          <ComponentRef Id="REGISTERMINIDRIVER"/>
          <ComponentRef Id="REGISTERMINIDRIVER_64"/>
          <Condition Level="1">VersionNT >= 600</Condition>
        </Feature>
        <Feature Id="Install_CSP" Level="1" Display="hidden" Absent="disallow">
          <ComponentRef Id="CSP"/>
          <ComponentRef Id="REGISTERCSP"/>
          <Condition Level="0">"VersionNT >= 600"</Condition>
        </Feature>
    <Feature  Id="Install_Utilities"
          Title="!(loc.UtilsTitle)"
          Description="!(loc.UtilsDesc)"
          Absent="allow"
          Level="1"
                >

      <Feature Id="Install_Outlooksnc"
               Title="!(loc.OutlooksncTitle)"
               Description="!(loc.OutlooksncDescr)"
               Absent="allow"
               Level="1">
        <ComponentRef Id ="OutlookShortcut"/>
        <ComponentRef Id="OutlookTool" />
      </Feature>
    </Feature>

  </Feature>
</Feature>
    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTFOLDER" />
      <UIRef Id="WixUI_ErrorProgressText" />

    </UI>

    <!--SetARPINSTALLLOCATION sets the location in the registry entries of the Add & Remove Panel-->
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONROOTFOLDER]" />
    <CustomAction Id="IsPrivileged" Error="!(loc.AdminNeeded)" />

    <InstallExecuteSequence>
      <Custom Action="IsPrivileged" Before="LaunchConditions">Not Privileged</Custom>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
      <RemoveExistingProducts After="InstallExecute" />
      <ScheduleReboot After="InstallFinalize">NOT Installed</ScheduleReboot>     
    </InstallExecuteSequence>

  </Product>
</Wix>
