<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include ..\..\..\scripts\windows\eidmw_revision.wxs ?>

  <?define var.OfficialProductVersion =$(var.BaseVersion1).$(var.BaseVersion2).$(var.BaseVersion3)?>
  <?define var.ProductVersion =$(var.BaseVersion1).$(var.BaseVersion2).$(var.RevisionNumber)?>
  <?define var.FullProductVersion =$(var.OfficialProductVersion).$(var.RevisionNumber)?>

  <?define var.UpgradeCode ={41D2DFA4-7754-465C-9379-55CDBADE082D}?>
  <?define var.ProductGuid ={4DDF16AE-8D5D-4027-A2D1-8CBB498E$(var.RevisionNumber)}?>

  <?define var.ProductName =Belgium e-ID middleware $(var.OfficialProductVersion) (build $(var.RevisionNumber))?>

  <?define var.PackageCode="*"?>

  <Product Id="$(var.ProductGuid)"
           Name="$(var.ProductName)"
           Language="!(loc.Lang)"
           Codepage="1252"
           Version="$(var.ProductVersion)"
           Manufacturer="Belgian Government"
           UpgradeCode="$(var.UpgradeCode)">
	
	<!-- InstallerVersion="405"(v4.5) Released with Vista Service Pack 2, or update for Windows XP(SP2, SP3) -->		
    <Package Id="$(var.PackageCode)"
             InstallerVersion="405" 
             Keywords="Belgium e-ID Middleware Installer"
             Platform="x86"
             Manufacturer="Belgian Government"
             Compressed="yes"
             InstallPrivileges="elevated"
    />

	<MajorUpgrade 
		AllowDowngrades="no" 
		DowngradeErrorMessage="error 1638: Newer version eID Middleware found"
	/>

    <?if $(var.Lang) = "nl"?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\doc\licenses\Dutch\License_nl.rtf" />
    <?elseif $(var.Lang) = "fr"?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\doc\licenses\French\License_fr.rtf" />
    <?elseif $(var.Lang) = "de"?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\doc\licenses\German\License_de.rtf" />
    <?else?>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\doc\licenses\English\License_en.rtf" />
    <?endif?>

    <WixVariable Id="WixUIBannerBmp" Value="..\..\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="..\..\dlgbmp.bmp" />

    <Condition Message="!(loc.MinOs)">
      <![CDATA[
      Installed
      OR ((VersionNT = 500) and (ServicePackLevel > 3))
      OR ((VersionNT = 501) and (ServicePackLevel > 1))
      OR (VersionNT > 501)
      ]]>
    </Condition>

    <Media Id="1" Cabinet="Middleware.cab" EmbedCab="yes" />

    <Icon Id="eid.ico" SourceFile="..\..\eid.ico"/>
    
    <Property Id="ARPPRODUCTICON" Value="eid.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://eid.belgium.be"/>

    <Property Id="ALLUSERS" Value="1" />

    <Directory Id="TARGETDIR" Name="SourceDir">
	
	  <Directory Id="CommonAppDataFolder">
        <Directory Id="APPLICATIONDATAFOLDER" Name="Belgium Identity Card">
          <Directory Id="LOGDIR" Name="log"/>
        </Directory>
	  </Directory>
	  
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTFOLDER" Name="Belgium Identity Card">
		  <Directory Id="FFPLUGMANFOLDER" Name="FireFox Plugin Manifests"/>
          <Directory Id="MINIDRIVERROOTFOLDER" Name="BeID Minidriver"/>
		</Directory>
      </Directory>

      <Directory Id="SystemFolder">
        <Directory Id="BEIDPPDIR" Name="beidpp"/>
      </Directory>
<?ifndef env.DONT_MERGE_VCRT?>
      <Merge Id="VCRT" SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2022\Enterprise\VC\Redist\MSVC\v143\MergeModules\Microsoft_VC143_CRT_x86.msm" Language="0" DiskId="1" />
<?endif?>
	  </Directory>
	
    <DirectoryRef Id="LOGDIR">
      <Component Id="LogDir" Guid="{A300DA04-F8DF-4506-B654-1E5EB2782DF3}" KeyPath="yes">
        <CreateFolder>
          <util:PermissionEx GenericAll="yes" User="Users" />
        </CreateFolder>
        <RemoveFile Id="RemoveLogFiles" On="uninstall" Name="*"/>
        <RemoveFolder Id="RemoveLogFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MINIDRIVERROOTFOLDER">
      <Component Id="beidmdrv" Guid="2bdf2bb0-4f7a-4ed6-a3d4-abcbe212fa14" >
        <File Id="beidmdrv.inf" Name="beidmdrv.inf" Source="..\..\..\installers\quickinstaller\Drivers\WINALL\beidmdrv\beidmdrv.inf" KeyPath="yes" DiskId="1" />
        <File Id="beidmdrv.cat" Name="beidmdrv.cat" Source="..\..\..\installers\quickinstaller\Drivers\WINALL\beidmdrv\beidmdrv.cat" KeyPath="no" DiskId="1" />
        <File Id="beidmdrv32.dll" Name="beidmdrv32.dll" Source="..\..\..\installers\quickinstaller\Drivers\WINALL\beidmdrv\beidmdrv32.dll" KeyPath="no" DiskId="1" />
        <File Id="beidmdrv64.dll" Name="beidmdrv64.dll" Source="..\..\..\installers\quickinstaller\Drivers\WINALL\beidmdrv\beidmdrv64.dll" KeyPath="no" DiskId="1" />

      </Component>
      <!-- Certificate Propagation Service is a standard Windows service available in from Windows Vista on. In order to use the minidriver
			   it is necessary that this service is running. When a smart card reader is inserted this service should be started  by the smart card
			   driver. As not all drivers are following this guidance, we start CertPropSvc during the minidriver install -->
      <Component Id="CertPropService" Guid="932459d0-df59-11de-8a39-0800200c9a66" Permanent="yes" >
        <!-- Start Certificate Propagation Service during startup -->
        <RegistryValue Root="HKLM" Key="System\CurrentControlSet\Services\CertPropSvc" Type="integer" Name="Start" Value="2" KeyPath="yes"/>
        <!-- Start Certificate Propagation Service now -->
        <!--<ServiceControl Id="StartCertPropSvc" Name="CertPropSvc" Start="install" Wait="no"/>-->
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="APPLICATIONROOTFOLDER">

      <Component Id="Icon" Guid="{5B657BAD-8CFC-4E42-AF8C-13338C50D784}" SharedDllRefCount="no">
        <File Id="eid.ico" Name="eid.ico" KeyPath="yes" Source="..\..\eid.ico" />
      </Component>

      <Component Id="License" Guid="{C00AF621-E882-4805-BA9C-B90AA5DBBCB6}" SharedDllRefCount="no" Win64="no">
        <File Id="License_en.rtf" Name="License_en.rtf" KeyPath="yes" Source="..\..\..\doc\licenses\English\License_en.rtf" />
        <File Id="License_nl.rtf" Name="License_nl.rtf" KeyPath="no" Source="..\..\..\doc\licenses\Dutch\License_nl.rtf" />
        <File Id="License_fr.rtf" Name="License_fr.rtf" KeyPath="no" Source="..\..\..\doc\licenses\French\License_fr.rtf" />
        <File Id="License_de.rtf" Name="License_de.rtf" KeyPath="no" Source="..\..\..\doc\licenses\German\License_de.rtf" />
      </Component>

    </DirectoryRef>

	<DirectoryRef Id="FFPLUGMANFOLDER">
	  <Component Id="FF_Manifest_FilesID" Guid="{10A0598E-9F54-4386-959C-FB56FC1C412C}" Win64="no">
        <File Id="FF_Manifest_File_32ID" Name="beidpkcs11_32.json" KeyPath="yes" Source="..\..\..\plugins_tools\Firefox_plugin\beidpkcs11_32.json" />
		<File Id="FF_Manifest_File_VersionID" Name="beidpkcs11_version.json" KeyPath="no" Source="..\..\..\plugins_tools\Firefox_plugin\beidpkcs11_version.json" />
		<File Id="FF_Manifestbeid_ff_pkcs11.32ID" Name="beid_ff_pkcs11_32.dll" KeyPath="no" Source="..\..\..\cardcomm\pkcs11\VS_2019\binaries\Win32_PKCS11_FF_Release\beid_ff_pkcs11.dll" />
      </Component>	  
	</DirectoryRef>
	
    <DirectoryRef Id="SystemFolder">

      <Component Id="beidmdrvsystem32" Guid="{a8259480-e408-11de-8a39-0800200c9a66}" Permanent="no" Win64="no">
        <File Id="system32_beidmdrv.dll" Name="beidmdrv32.dll" Source="..\..\..\installers\quickinstaller\Drivers\WINALL\beidmdrv\beidmdrv32.dll" KeyPath="yes" DiskId="1" />
      </Component>

      <Component Id="pkcs11" Guid="{D54164C0-795D-4B2D-96C6-C8E395100896}" SharedDllRefCount="no">
        <File Id="beidpkcs11.dll" Name="beidpkcs11.dll" KeyPath="yes" Source="..\..\..\cardcomm\pkcs11\VS_2019\binaries\win32_release\beidpkcs11.dll" />
        <File Id="beid_ff_pkcs11.dll" Name="beid_ff_pkcs11.dll" KeyPath="no" Source="..\..\..\cardcomm\pkcs11\VS_2019\binaries\Win32_PKCS11_FF_Release\beid_ff_pkcs11.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="BEIDPPDIR">
      <Component Id="PinpadLib" Guid="{9ADA6D75-5DCC-467E-A0CE-B84A482B2115}" SharedDllRefCount="yes">
        <File Id="xireid.dll" Name="xireid.dll" Source="..\..\..\beidpp\xireid.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
	
	  <Component Id="FF_pkcs11_plugin_32_setup" Guid="{CE09E849-91E3-4EDE-9C8B-5261162FCD42}">
        <!-- Create our 32 bit beid_ff_pkcs11.dll manifest location -->
        <RegistryKey Root="HKLM" Key="SOFTWARE\Mozilla\PKCS11Modules\beidpkcs11_32">
            <RegistryValue Type="string" Value="[FFPLUGMANFOLDER]beidpkcs11_32.json"/>
		</RegistryKey>
		<!-- Create the managed storage location (that contains beid version number)-->
        <RegistryKey Root="HKLM" Key="SOFTWARE\Mozilla\ManagedStorage\belgiumeid@eid.belgium.be">
            <RegistryValue Type="string" Value="[FFPLUGMANFOLDER]beidpkcs11_version.json"/>
		</RegistryKey>
      </Component>
	  
      <Component Id="SCardSvrService" Guid="{C3BC9746-0843-41b2-BDDA-3192772974CE}" Permanent="yes">
        <!-- Start SCardSvr Service during startup -->
        <RegistryValue Root="HKLM" Key="System\CurrentControlSet\Services\SCardSvr" Type="integer" Name="Start" Value="2" KeyPath="yes"/>
        <!-- Start SCardSvr Service now -->
        <!--<ServiceControl Id="StartSCardSvrService" Name="SCardSvr" Start="install" Wait="no"/>-->
      </Component>
	  
      <Component Id="REGISTERMINIDRIVER" Guid="{B9980C19-883E-49f9-BDD2-AB3D75187C8F}">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\Cryptography\Calais\SmartCards\Beid">
          <RegistryValue Type="string" Name="80000001" Value="beidmdrv32.dll" KeyPath="yes"/>
          <RegistryValue Type="binary" Name="ATR" Value="3b98004000a503010101ad1300" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATRMask" Value="ffff00ff00ffffffffffffff00" KeyPath="no"/>
          <RegistryValue Type="string" Name="Crypto Provider" Value="Microsoft Base Smart Card Crypto Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="Smart Card Key Storage Provider" Value="Microsoft Smart Card Key Storage Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000100" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000103" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
        </RegistryKey>
		<RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\Cryptography\Calais\SmartCards\Beid_v18">
          <RegistryValue Type="string" Name="80000001" Value="beidmdrv32.dll" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATR" Value="3b7f96000080318065b085040120120fff829000" KeyPath="no"/>
          <RegistryValue Type="binary" Name="ATRMask" Value="ffffffffffffffffffffffffffffffffffffffff" KeyPath="no"/>
          <RegistryValue Type="string" Name="Crypto Provider" Value="Microsoft Base Smart Card Crypto Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="Smart Card Key Storage Provider" Value="Microsoft Smart Card Key Storage Provider" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000100" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
          <RegistryValue Type="string" Name="80000103" Value="en-US,Please enter your PIN;en-EN,Please enter your PIN;nl-BE,Geef uw PIN in;nl-NL,Geef uw PIN in;fr-BE,Entrez votre code PIN;fr-FR,Entrez votre code PIN;de-DE,Bitte geben Sie Ihre PIN ein" KeyPath="no"/>
        </RegistryKey>
      </Component> 

      <Component Id="RegistryBeidSystem" Guid="{414DF15C-6CE6-4181-95B4-D83F16903BA3}">
        <RegistryKey Root="HKLM"
            Key="SOFTWARE\BEID"
			ForceDeleteOnUninstall="yes">
          
          <RegistryKey Key="general">
            <RegistryValue Type="string" Name="install_dirname" Value="[ProgramFilesFolder]Belgium Identity Card"/>
          </RegistryKey>
          
          <RegistryKey Key="logging">
            <RegistryValue Type="string" Name="log_dirname" Value="[CommonAppDataFolder]Belgium Identity Card\log"/>
          </RegistryKey>
          
        </RegistryKey>

      </Component>

    </DirectoryRef>


    <Feature Id="BeidRuntime"
             Title="!(loc.BeidRuntime)"
             Description="!(loc.BeidRuntimeDesc)"
             Absent="disallow"
             Level="1"
             >
<?ifndef env.DONT_MERGE_VCRT?>
      <Feature Id="VCRedist" Title="VC++ 15.0 runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRT" />
      </Feature>
<?endif?>
      <!-- Program Files -->
      <ComponentRef Id="Icon" />
      <ComponentRef Id="License"/>
      <ComponentRef Id="LogDir"/>

      <!-- Beid pinpad dir-->
      <ComponentRef Id="PinpadLib"/>

      <!-- Registry -->
      <ComponentRef Id="RegistryBeidSystem"/>

    <Feature Id="Crypto"
                Title="!(loc.Crypto)"
                Description="!(loc.CryptoDescr)"
                Level="1"
                >
      <ComponentRef Id="SCardSvrService"/>
      <ComponentRef Id="pkcs11"/>

      <Feature Id="Install_Minidriver" Title="Minidriver" Absent="allow" Level="1">
        <ComponentRef Id="beidmdrv"/>
        <ComponentRef Id="CertPropService"/>
        <ComponentRef Id="beidmdrvsystem32"/>
        <ComponentRef Id="REGISTERMINIDRIVER"/>
        <Condition Level="1">VersionNT >= 600</Condition>
      </Feature>
	  
	  <Feature Id="Firefox_Modules_Setup" Title="Firefox_PKCS11Modules_Manifests" Absent="allow" Level="1">
		  <ComponentRef Id="FF_Manifest_FilesID"/>
          <ComponentRef Id="FF_pkcs11_plugin_32_setup"/>
      </Feature>
	  
    </Feature>

    </Feature>
    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTFOLDER" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <!--SetARPINSTALLLOCATION sets the location in the registry entries of the Add & Remove Panel-->
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONROOTFOLDER]" />
    
    <CustomAction Id="IsPrivileged" Error="!(loc.AdminNeeded)" />

    <InstallExecuteSequence>    
      <Custom Action="IsPrivileged" Before="LaunchConditions">Not Privileged</Custom>  
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom> 
    </InstallExecuteSequence>

  </Product>
</Wix>
