<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>eID Console</display-name>

	<servlet>
		<servlet-name>AppletServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SkipSecureConnectionCheck</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludeAddress</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludePhoto</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceServlet</servlet-name>
		<url-pattern>/be.fedict.eid.console.Application/applet-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JSONServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.JSONServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/be.fedict.eid.console.Application/identity.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/be.fedict.eid.console.Application/photo.jpg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthnAppletServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationServiceClass</param-name>
			<param-value>be.fedict.eid.console.server.AuthenticationServiceImpl</param-value>
		</init-param>
		<init-param>
			<param-name>SkipSecureConnectionCheck</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>Logoff</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>PreLogoff</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthnAppletServiceServlet</servlet-name>
		<url-pattern>/be.fedict.eid.console.Application/applet-service-authn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangePINAppletServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>ChangePin</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>SkipSecureConnectionCheck</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePINAppletServiceServlet</servlet-name>
		<url-pattern>/be.fedict.eid.console.Application/applet-service-change-pin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AppletDiagnosticServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>DiagnosticMode</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>SkipSecureConnectionCheck</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletDiagnosticServiceServlet</servlet-name>
		<url-pattern>/be.fedict.eid.console.Application/applet-diagnostic-service</url-pattern>
	</servlet-mapping>

</web-app>
