<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>This version of libusb is recompiled and distributed for use with OpenSC package. It will be installed in /Library/OpenSC. You need to install if you want to use Axalto etoken with Cryptoflex cards.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>libusb</string>
</dict>
</plist>
