Source: eid-mw
Priority: optional
Maintainer: Frank Marien <frank.marien@fedict.be>
Build-Depends: debhelper (>= 7.0.50), autotools-dev, libpcsclite-dev, libgtk2.0-dev, libtool
Standards-Version: 3.8.3
Section: libs
Homepage: http://code.google.com/p/eid-mw/

Package: eid-mw
Section: libs
Replaces: libbeidlibopensc2, libbeidlib3, libbeid2, libbeidlib2, beidgui
Conflicts: libbeidlibopensc2, libbeidlib3, libbeid2, libbeidlib2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pcscd
Recommends: libccid, libacr38u
Description: low-level support for Belgian Electronic Identity Card
 This package contains a PKCS#11 module and a Firefox plugin for the
 Belgian electronic identity card. You should install it if you wish to
 use your electronic identity card to log on to online websites, or to
 sign your mail and documents with it.
