Source: eid-mw
Priority: optional
Maintainer: FedICT Servicedesk <servicedesk@fedict.be>
Build-Depends: debhelper (>= 9), autotools-dev, libpcsclite-dev, libgtk-3-dev | libgtk2.0-dev (<= 2.24.11), libtool, libssl-dev, libxml2-dev, libcurl-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://code.google.com/p/eid-mw/

Package: eid-mw
Section: metapackages
Architecture: any
Depends: ${misc:Depends}, pcscd, libbeidpkcs11-0, beid-mozilla-extension
Recommends: libccid, libacr38u
Description: low-level support for Belgian Electronic Identity Card
 This metapackage depends on a PKCS#11 module and a Firefox plugin for
 the Belgian electronic identity card. You should install it if you wish
 to use your electronic identity card to log on to online websites, or
 to sign your mail and documents with it.

Package: libbeidpkcs11-0
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Replaces: eid-mw (<< 4.0.6r1508)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbeidpkcs11-bin
Description: PKCS#11 library for Belgian Electronic Identity Card
 This package contains the PKCS#11 module for the Belgian Electronic
 Identity card, and a few helper libraries. It handles all low-level
 access to the eID card.

Package: libbeidpkcs11-dbg
Section: debug
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbeidpkcs11-0
Description: PKCS#11 library for Belgian Electronic Identity Card - Debug symbols
 This package contains the debug symbols for the Belgian Electronic
 Identity Card's PKCS#11 library. It is only useful in case of problems,
 or possibly when developing an application for the eID.

Package: libbeidpkcs11-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Depends}
Replaces: eid-mw (<< 4.0.6r1508)
Multi-Arch: same
Description: PKCS#11 library for Belgian Electronic Identity Card - development files
 This package contains the static libraries and the development headers
 to develop applications for the Belgian Electronic Identity Card.
 Install it if you wish to develop applications that want to access the
 Belgian Electronic Identity Card.
 .
 Also included are a few examples for how to use the SDK.

Package: libbeidpkcs11-bin
Section: libs
Multi-Arch: foreign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: eid-mw (<< 4.0.6r1508)
Description: helper programs for libbeidpkcs11-0
 The libbeidpkcs11 library sometimes needs to pop up a few dialog boxes
 to ask the user to perform some action (e.g., enter a pin code). This
 package contains a few helper programs to allow the library to do so.

Package: beid-mozilla-extension
Section: web
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libbeidpkcs11-0
Replaces: eid-mw (<< 4.0.6r1508)
Description: Belgian Electronic Identity Card - Mozilla plugin
 This package contains the mozilla plugin for the Belgian Electronic
 Identity Card. Install it if you wish to log on to websites using your
 electronic identity card from within iceweasel or any other gecko-based
 browser.
