Source: eid-mw
Priority: optional
Maintainer: Build Slave <eidmw@yourict.net>
Build-Depends: debhelper (>= 7), autotools-dev, libpcsclite-dev, libgtk2.0-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://code.google.com/p/eid-mw/

Package: eid-mw
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} pcscd ccid libgtk2.0-0
Description: PKCS#11 Module and Console for Belgian Electronic Identity Card
