#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- --libexecdir=/usr/lib/eid-mw --enable-p11v220 --enable-webextension

override_dh_installexamples:
	dh_installexamples -X.svn

override_dh_makeshlibs:
	dh_makeshlibs -V

override_dh_strip:
	dh_strip -p libbeidpkcs11-0 --dbg-package=libbeidpkcs11-dbg
	dh_strip -a

# Don't dh_autoreconf our stuff, please
override_dh_autoreconf:
