<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeidView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Full Build.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>beidpkcs11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>eID Viewer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>eidfilepreview.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>testsuite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>652709F91FE975A1004F326D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653490F51FEA7B39000F7787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6536230119A7E8E600D46ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FA1A9F60F85F36E000D9EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6545C8243F19DF00A0B0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
