# Contributor: Stijn Segers <francesco dot borromini at gmail dot com>
# slightly modified by Frank Marien

pkgname=beid-svn
pkgver=_SVN_REVISION_
pkgrel=1
pkgdesc="The eID Middleware software for using the Belgian eID on your computer"
arch=('x86_64' 'i686')
url="http://code.google.com/p/eid-mw/"
license=('LGPL')
depends=('pcsclite')
makedepends=('autoconf' 'libtool>=2.2.7c' 'make' 'pkgconfig' 'svn' 'ccache' 'gtk2' 'maven')
conflicts=('beid')
replaces=('beid')
options=('makeflags')

build()
{
    cd ${srcdir}/../..
    
    # Bootstrap
    msg "Bootstrapping, might take a bit..."
    autoreconf -i --force

    # Run configure
    msg "Configuring beid"
    ./configure --prefix=/usr
    
    # Build
    msg "Running make" 
    make -j3

}

package()
{
    msg "Running make install"  
    cd ${srcdir}/../..
    make DESTDIR=${pkgdir} install
}
