<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.1" authoringToolBuild="172">
    <title>ACR38DriverPackage</title>
    <options customize="never" allow-external-scripts="no" rootVolumeOnly="true"/>
    <readme file="ReadMe"/>
    <license file="License"/>
    <choices-outline>
        <line choice="choice0"/>
        <line choice="choice8"/>
        <line choice="choice9"/>
    </choices-outline>
    <choice id="choice0" title="ACR38Driver">
        <pkg-ref id="com.acs.acr38driverpackage.acr38driver.pkg"/>
    </choice>
    <choice id="choice8" title="org.opensc.pcscd">
        <pkg-ref id="com.acs.acr38driverpackage.orgopenscpcscd.pkg"/>
    </choice>
    <choice id="choice9" title="OpenSC">
        <pkg-ref id="com.acs.acr38driverpackage.opensc.pkg"/>
    </choice>
    <pkg-ref id="com.acs.acr38driverpackage.acr38driver.pkg" installKBytes="208" version="1.7.9" auth="Root">file:./Contents/Packages/acr38driver.pkg</pkg-ref>
    <pkg-ref id="com.acs.acr38driverpackage.orgopenscpcscd.pkg" installKBytes="4" version="1" auth="Root">file:./Contents/Packages/orgopenscpcscd.pkg</pkg-ref>
    <pkg-ref id="com.acs.acr38driverpackage.opensc.pkg" installKBytes="8" version="1" auth="Root">file:./Contents/Packages/opensc.pkg</pkg-ref>
</installer-script>