<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PIVToken</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>com.apple.ctk.aid</key>
			<string>a000000177504b43532d3135</string>
			<key>com.apple.ctk.class-id</key>
			<string>com.example.apple-samplecode.pivtoken.PIVTokenApp.PIVToken</string>
			<key>com.apple.ctk.driver-class</key>
			<string>PIVTokenDriver</string>
			<key>com.apple.ctk.token-type</key>
			<string>smartcard</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ctk-tokens</string>
	</dict>
</dict>
</plist>
